<a data-bs-toggle="modal" [attr.data-bs-target]="'#productModal'+product.id">
    <div class="plate">
        <figure class="plate-img m-0">
            <img [src]="product.image ? product.image : 'assets/images/no-image.png'" alt />
        </figure>
        <div class="text-center pt-3">
            <h6 class="mb-0">{{product.name}}</h6>
            <div class="py-2">
                <!-- <span class="discount"> {{product.discountPercentage}} ج . م</span> -->
                <span>{{product.price}} {{ product.currency_symbol }}</span>
            </div>
            <button class="btn">
                + إضافة
            </button>
            <!-- <button class="btn me-2" (click)="deleteProduct(product.id)">
             ازالة
        </button> -->
        </div>
    </div>
</a>

<!-- Modal -->
<div class="modal fade" id="productModal{{product.id}}" tabindex="-1" aria-labelledby="productModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center mb-4"> تفاصيل الوجبة </h2>
                <div class="row mx-0">
                    <div class="col-md-6">
                        <div class="product-details ">
                            <h4>اختيارات من الحجم
                            </h4>
                            <div class="choices my-3">
                                <form>
                                    @for (size of product.sizes; track $index) {
                                    <div class="form-check">
                                        <div>
                                            <input class="form-check-input" type="radio" name="options"
                                                id="option{{product.id}}" value="option{{product.id}}">
                                            <label class="form-check-label" for="option{{product.id}}">
                                                {{ size.name }}
                                            </label>
                                        </div>
                                        <span>{{ size.price }} {{ size.currency_symbol }}</span>

                                    </div>
                                    }@empty{
                                    <div class="form-check">
                                        <div>
                                            <input class="form-check-input" type="radio" name="options" id="option1"
                                                value="option1" checked>
                                            <label class="form-check-label" for="option1">
                                                الحجم الطبيعي
                                            </label>
                                        </div>
                                    </div>
                                    }
                                </form>
                            </div>
                            <h4> اضافات
                            </h4>
                            <div class="choices my-3">
                                @for (category of product.addon_categories; track $index) {
                                {{ category.name }}
                                <form>
                                    @for (addon of category.addons; track $index) {
                                    <div class="form-check">
                                        <div>
                                            <input class="form-check-input" type="checkbox" name="options"
                                                id="option{{product.id}}" value="option{{product.id}}">
                                            <label class="form-check-label" for="option{{product.id}}">
                                                {{ addon.name }} </label>
                                        </div>
                                        <span>{{ addon.price }} {{ addon.currency_symbol }}</span>

                                    </div>
                                    }@empty{
                                        <div class="form-check">
                                            <div>
                                                <input class="form-check-input" type="checkbox" name="options"
                                                id="option{{product.id}}" value="option{{product.id}}" checked>
                                            <label class="form-check-label" for="option{{product.id}}"> بدون إضافات
                                                </label>
                                            </div>
                                        </div>
                                    }

                                </form>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product">
                            <figure class="product-img m-0">
                                <img [src]="product.image ? product.image : 'assets/images/no-image.png'" alt />
                                <figcaption class="pt-3">
                                    <h5>{{product.name}}</h5>
                                    <small class="text-muted d-block py-2">
                                        {{product.description}} </small>
                                    <h4 class="fw-bold"> {{product.price}} ج . م</h4>
                                    <div class="qty mt-3 d-flex justify-content-center align-items-center">
                                        <span class="pro-dec me-3" onclick="decreaseQuantity()">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </span>
                                        <span class="num fs-4" id="quantity">1</span>
                                        <span class="pro-inc ms-3" onclick="increaseQuantity()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </span>
                                    </div>


                                </figcaption>
                            </figure>
                        </div>
                        <div class="notes my-3">
                            <h4>
                                <i class="fas fa-file-alt main-color fa-xs"></i>
                                لديك اى ملاحظات اضافيه؟
                            </h4>
                            <div class="form-floating mt-3">
                                <textarea class="form-control" placeholder="من فضلك اكتب ملاحظتك" id="floatingTextarea2"
                                    style="height: 100px"></textarea>
                                <label for="floatingTextarea2">من فضلك اكتب ملاحظتك</label>
                            </div>
                        </div>
                        <button class="btn w-100 d-flex justify-content-between mt-3">
                            <span> + أضف الي العربة
                                (1)</span>
                            <span>{{product.price}} ج . م</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>