<nav class="navbar py-3">
    <div class="row m-0 align-items-center w-100">
        <div class="col-md-7">
            <div class="input-wrapper form-control">
                <i class="fa-solid fa-magnifying-glass text-muted"></i>
                <input type="text" placeholder="ابحث...">
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-evenly align-items-center">
            <div class="notifications">
                <i class="fa-solid fa-bell main-color fa-lg"></i>
            </div>
            <div class="user">
                <img src="assets/images/user.png">
                <div class="user-info">
                    <h6>{{ username || 'login' }}</h6>
                    <small class="text-muted ">
                        <span>1-1-25 </span>
                        ,
                        <span>20:30 صباحًا</span>
                    </small>
                </div>
            </div>
        </div>
    </div>
</nav>