<div class="card p-3 mt-3">
  <ul class="nav nav-pills mb-3 px-0 row" id="pills-tab1" role="tablist">
    <li class="nav-item col-md-6" role="presentation">
      <button class="nav-link active w-100" id="pills-orders-tab" data-bs-toggle="pill" data-bs-target="#pills-orders"
        type="button" role="tab" aria-controls="pills-orders" aria-selected="true">
        <img src="assets/images/"/>
        <span>
          الطلبات
        </span>
      </button>
    </li>
    <li class="nav-item col-md-6" role="presentation">
      <button class="nav-link w-100" id="pills-pills-tab" data-bs-toggle="pill" data-bs-target="#pills-pills"
        type="button" role="tab" aria-controls="pills-pills" aria-selected="false">
        <span>الفواتير</span>
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent1">
    <div class="tab-pane fade show active" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab">
      <ul class="nav nav-pills mb-3 px-0" id="pills-tab2" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-in-tab" data-bs-toggle="pill" data-bs-target="#pills-in"
            type="button" role="tab" aria-controls="pills-in" aria-selected="true">في المطعم</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-out-tab" data-bs-toggle="pill" data-bs-target="#pills-out" type="button"
            role="tab" aria-controls="pills-out" aria-selected="false">out</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-delivery-tab" data-bs-toggle="pill" data-bs-target="#pills-delivery"
            type="button" role="tab" aria-controls="pills-delivery" aria-selected="false">delivery</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent2">
        <div class="tab-pane fade show active" id="pills-in" role="tabpanel" aria-labelledby="pills-in-tab">
          <ul class="nav nav-pills mb-3 px-0" id="pills-tab3" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-all-orders-tab" data-bs-toggle="pill"
                data-bs-target="#pills-all-orders" type="button" role="tab" aria-controls="pills-all-orders"
                aria-selected="true">all-orders</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-pending-tab" data-bs-toggle="pill" data-bs-target="#pills-pending"
                type="button" role="tab" aria-controls="pills-pending" aria-selected="false">pending</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent3">
            <div class="tab-pane fade show active" id="pills-all-orders" role="tabpanel"
              aria-labelledby="pills-all-orders-tab">
              hello
            </div>
            <div class="tab-pane fade" id="pills-pending" role="tabpanel" aria-labelledby="pills-pending-tab">
              second
            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="pills-out" role="tabpanel" aria-labelledby="pills-out-tab">
          one
        </div>
        <div class="tab-pane fade" id="pills-delivery" role="tabpanel" aria-labelledby="pills-delivery-tab">
          two
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="pills-pills" role="tabpanel" aria-labelledby="pills-pills-tab">
      ...

    </div>
  </div>
</div>