<section class="forget-pass m-lg-0 m-sm-5">
  <div class="container">
    <div class="body-images">
      <img src="assets/images/meat-bg.png" class="position-absolute meat">
      <img src="assets/images/spoon-bg.png" class="position-absolute spoon">
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-5 mb-4">
        <img src="assets/images/logo-with-white-bg.png" alt="Placeholder Logo" height="110">
      </div>

      <div class="col-md-7 right-side bg-white p-md-5">
        <h1 class="main-color fw-bold py-4"> مرحبا بك! </h1>
        <h5 class="text-dark pb-3">سجل دخولك بكل سهولة</h5>

        <!-- Phone Input -->
        <div class="input-group position-relative mb-3">
          <input type="text" class="form-control" id="phoneInput" placeholder="ادخل رقم الهاتف ,مثال 01029063398"
            [(ngModel)]="loginData.username">
          
          <div class="custom-dropdown dropdown">
            <div class="selected-option dropdown-toggle text-muted" data-bs-toggle="dropdown">
              {{ selectedCountry.code }}
              <img [src]="selectedCountry.flag" class="flag-icon" />
            </div>  
            <ul class="dropdown-list dropdown-menu">
              <li *ngFor="let country of countryList" (click)="selectCountry(country)" class="d-flex justify-content-between text-muted">
                {{ country.code }} 
                <img [src]="country.flag" class="flag-icon" />
              </li>
            </ul> 
          </div>
        </div>

        <!-- Password Input -->
        <div class="input-group position-relative mb-3">
          <input 
            [type]="isPasswordVisible ? 'text' : 'password'" 
            class="form-control" 
            id="passwordInput" 
            placeholder="ادخل كلمة المرور"
            [(ngModel)]="loginData.pass"
          />
          <button type="button" class="password-toggle-btn" (click)="togglePasswordVisibility()">
            <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>

        <!-- Submit Button with RouterLink -->
        <button class="btn fs-5 w-100" (click)="onLogin()">تسجيل الدخول</button>
      </div>

      <div class="col-md-5 login-background d-none d-md-block">
        <img src="assets/images/login-chef-backgound.png" alt="">
      </div>
    </div>
  </div>
</section>
