<div class="d-flex justify-content-between my-4">
    <h2>القائمة</h2>
    <a routerLink="/menu" class="sidebar-link" routerLinkActive="active_link"
        [routerLinkActiveOptions]="{ exact: true }">
        <span class="fs-5 fw-bold ms-3">عرض الكل</span>
        <img src="assets/images/arrow-right.svg" alt />
    </a>
</div>
<div class="input-wrapper form-control">
    <i class="fa-solid fa-magnifying-glass text-muted"></i>
    <input type="text" placeholder="ابحث..." />
</div>
<div class="categories py-3">
    <ul class="nav nav-pills mb-3 px-0 align-items-center" id="pills-tab" role="tablist">
        @for (category of categories; track $index) {
        <li class="nav-item mb-2" role="presentation">
            <button class="nav-link" [ngClass]="{'active': selectedCategory === category}"
                    (click)="onCategorySelect(category)" id="pills-{{category.name}}-tab" data-bs-toggle="pill" 
                    [attr.data-bs-target]="'#pills-' + category.name" type="button" role="tab" 
                    [attr.aria-controls]="'pills-' + category.name" [attr.aria-selected]="selectedCategory === category">
                <div class="category-button">
                    <img [src]="category.image_path" alt="" class="category-img" />
                    <p class="mb-0">{{ category.name }}</p>
                </div>
            </button>
        </li>
    }
    </ul>
    
    <div class="tab-content pt-4" id="pills-tabContent">
        @for (category of categories; track $index) {
        <div class="tab-pane fade" [ngClass]="{'show active': selectedCategory === category}"
             [id]="'pills-' + category.name" role="tabpanel" [attr.aria-labelledby]="'pills-' + category.name + '-tab'">
            <div class="row mx-0">
                @for (product of selectedCategoryProducts; track product.id) {
                <div class="col-md-4 mb-4">
                    <app-product-card [product]="product" (sendToCategories)="recieveFromProduct($event)"></app-product-card>
                </div>
            }
            @if (selectedCategoryProducts.length === 0) {
                <p>No products available</p>
            }
            </div>
        </div>
    }
    </div>
    
</div>