<div class="d-flex justify-content-between my-4">
    <h2>القائمة</h2>
    <a routerLink="/menu" class="sidebar-link" routerLinkActive="active_link"
        [routerLinkActiveOptions]="{ exact: true }">
        <span class="fs-5 fw-bold ms-3">عرض الكل</span>
        <img src="assets/images/arrow-right.svg" alt />
    </a>
</div>
<div class="input-wrapper form-control">
    <i class="fa-solid fa-magnifying-glass text-muted"></i>
    <input type="text" placeholder="ابحث..." />
</div>
<div class="categories py-3">
    <ul class="nav nav-pills mb-3 px-0 align-items-center" id="pills-tab" role="tablist">
        <li class="nav-item mb-2" role="presentation">
            <button class="nav-link" [ngClass]="{'active': !selectedCategory}" 
            (click)="clearSelection()"  id="pills-offers-tab" data-bs-toggle="pill" data-bs-target="#pills-offers"
                type="button" role="tab" aria-controls="pills-offers" aria-selected="true">
                <div class="category-button">
                    <img src="assets/images/offers.png" alt class="offer-img" />
                    <p class="mb-0">العروض</p>
                </div>
            </button>
        </li>
        @for (category of categories; track $index) {
        <li class="nav-item mb-2" role="presentation">
            <button class="nav-link" [ngClass]="{'active': selectedCategory?.id === category.id}"
                (click)="onCategorySelect(category)" id="pills-{{category.id}}-tab" data-bs-toggle="pill"
                [attr.data-bs-target]="'#pills-' + category.id" type="button" role="tab"
                [attr.aria-controls]="'pills-' + category.id"
                [attr.aria-selected]="selectedCategory?.id === category.id">
                <div class="category-button">
                    <img [src]="category.image_path" alt="" class="category-img" />
                    <p class="mb-0">{{ category.name }}</p>
                </div>
            </button>
        </li>
        }
    </ul>

    <div class="tab-content pt-4" id="pills-tabContent">
        <div class="tab-pane fade" [ngClass]="{'show active': !selectedCategory}" id="pills-offers" role="tabpanel" aria-labelledby="pills-offers-tab">
            <div class="row mx-0">
                @for (offer of offers; track $index) {
                <div class="col-md-4 mb-4">
                    <app-offer-card [offer]="offer"></app-offer-card>
                </div>
                }@empty {
                <p>there is no products</p>
                }
            </div>
        </div>
        @for (category of categories; track $index) {
        <div class="tab-pane fade" [ngClass]="{'show active': selectedCategory?.id === category.id}"
            [id]="'pills-' + category.id" role="tabpanel">
            <div class="row mx-0">

                @for (product of selectedCategoryProducts; track product.id) {
                <div class="col-md-4 mb-4">
                    <app-product-card [product]="product"
                        (sendToCategories)="recieveFromProduct($event)"></app-product-card>
                </div>
                }
                @empty{
                <p>No products available</p>
                }

            </div>
        </div>
        }
    </div>
</div>