<div class="card p-3">
    <div class="d-flex justify-content-between mb-2">
        <h5 class="fw-bold">تفاصيل الطلب</h5>
        <a class="text-decoration-underline main-color" href="#">
            إلغاء
        </a>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div class="d-flex">
            <p> رقم الطلب </p>
            <p class="text-muted me-2"> #28494839</p>
        </div>
        <p>
            3 عناصر
        </p>
    </div>
    <app-cart-card></app-cart-card>
    <div class="all d-flex justify-content-end  align-items-center mt-4">
        <a routerLink="/orders" class="sidebar-link">
            <span class="fs-5 fw-bold ms-3">عرض الكل</span>
            <img src="assets/images/arrow-right.svg" alt="" />
        </a>
    </div>
    <div class="card-body p-4">
        <ul class="list-unstyled p-0 m-0">
            <li class="order-list">
                <p>
                    مجموع طلبي
                </p>
                <p class="fw-bold">
                    550 ج.م
                </p>
            </li>
            <li class="order-list">
                <p class="main-color">
                    كوبون خصم </p>
                <p class="fw-bold main-color">
                    -50 ج.م
                </p>
            </li>

            <li class="order-list">
                <p>
                    رسوم الخدمة
                </p>
                <p class="fw-bold">
                    40 ج.م
                </p>
            </li>
        </ul>
        <div class="message bg-lightYellow p-2 rounded-3 mb-3">
            <small>


                يشتمل على ضريبة القيمة المضافة 14% بمعنى أخر <span class="main-color fw-bold"> 29.23
                    EGP</span>
            </small>
        </div>
        <div class="total">
            <p class="fw-bold">
                المجموع الكلى
            </p>
            <p class="fw-bold">
                580 ج.م
            </p>
        </div>
        <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="options" id="option1"
                    value="option1">
                <label class="form-check-label" for="option3">
                    <img src="assets/images/money.svg" alt=""/>
                    كاش 
                </label>
          

        </div>
        <button class="btn w-100 my-3">
           <h5 class="mb-0">تنفيذ الطلب</h5> 
        </button>
        <button class="btn reversed main-color w-100">
        <h5 class="mb-0">
            تعليق الطلب
        </h5>
        </button>
    </div>
</div>