<div class="card p-3">
    <div class="d-flex justify-content-between mb-2">
        <h5 class="fw-bold">تفاصيل الطلب</h5>
        <a class="text-decoration-underline main-color" href="#">
            إلغاء
        </a>
    </div>
    <div class="d-flex justify-content-between mb-2">
        <div class="d-flex">
            <p> رقم الطلب </p>
            <p class="text-muted me-2"> #28494839</p>
        </div>
        <p>
            3 عناصر
        </p>
    </div>
    <app-cart-card></app-cart-card>
</div>