.table-img{
    background-color: #fe0000;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 6rem;
    text-align: center;

}
.table-img img{
    filter: brightness(0) invert(1);
  }
  .bg-available{
    background-color: #CCEAD7;
    color: #070707;
    padding: 5px;
    border-radius: 10px;
    width: 6rem;
    text-align: center;
  }