
<div class="pills p-3">
    <ul class="nav nav-pills mb-4 px-0" id="pills-tab21" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link sub active" id="pills-urgent2-tab" data-bs-toggle="pill" data-bs-target="#pills-urgent2"
            type="button" role="tab" aria-controls="pills-urgent" aria-selected="true">
            <span> عاجلة </span>
            <span>(12)</span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link sub" id="pills-pending6-tab" data-bs-toggle="pill" data-bs-target="#pills-pending6"
            type="button" role="tab" aria-controls="pills-pending6" aria-selected="false">
            <span> معلقة</span>
            <span>(4)</span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link sub" id="pills-previous2-tab" data-bs-toggle="pill" data-bs-target="#pills-previous2"
            type="button" role="tab" aria-controls="pills-previous2" aria-selected="false">
            <span> سابقة </span>
            <span>(16)</span>
        </button>
    </li>
</ul>
<div class="tab-content second-sub" id="pills-tabContent6">
    <div class="tab-pane fade show active" id="pills-urgent2" role="tabpanel" aria-labelledby="pills-urgent2-tab">
        <div class="row m-0">
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-pending6" role="tabpanel" aria-labelledby="pills-pending6-tab">
        <div class="row m-0">
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="tab-pane fade" id="pills-previous2" role="tabpanel" aria-labelledby="pills-previous2-tab">
        <div class="row m-0">
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-bold">رقم الطلب</p>
                        <p class="text-muted">
                            #28766665
                        </p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted">
                            3 عناصر
                        </p>

                        <p class="text-muted">
                            6 دقايق
                        </p>
                    </div>
                    <div class="d-flex text-center mb-2">
                        <p class="btn-static btn-static-main text-white w-100">
                            تفاصيل الفاتورة

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
