@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/ngx-countries-dropdown/assets/styles.css";
.btn {
    box-shadow: none;
    color: #fff;
    background-color: #FE0000;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    opacity: 1;
}
.card {
    border: 0;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    /* overflow: hidden; */
}

.card-header {
    border: 0;
    padding: 1rem;
}
a{
    text-decoration: none;
    color: inherit;
}
.main-color {
    color: #FE0000 !important;
}