@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/ngx-countries-dropdown/assets/styles.css";
.btn {
    box-shadow: none;
    color: #fff;
    background-color: #FE0000;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    opacity: 1;
}
.card {
    border: 0;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    /* overflow: hidden; */
}

.card-header {
    border: 0;
    padding: 1rem;
}
a{
    text-decoration: none;
    color: inherit;
}
.main-color {
    color: #FE0000 !important;
}
.bg-main{
    background-color: #FE0000 ;
}
.bg-green{
    background-color: #CCEAD7;
}
.bg-lightyellow{
    background-color: #FFEBC5;
}
.bg-lightgray{
    background-color: #DFDFDF;
}
.bg-lightred{
    background-color: #FFF2F2;
}
.text-muted{
    color:#808080 !important;
}
.btn-static{
    padding-block: 0.25rem;
    padding-inline: 0.115rem;
    border-radius: 0.25rem;
}
.btn-static-success{
    background: #CCEAD7;
}
.btn-static-warning{
    background-color: #FFEBC5;
}
.btn-static-danger{
    background-color: #FFE5E5;
}
.btn-static-secondary{
    background-color: #DFDFDF;
}
.btn-static-main{
    background-color: #fe0000;
}

.nav-pills .nav-link{
    background-color: rgba(223, 223, 223, 1);
    color: #000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-left: 0.75rem;
    padding: 0.75rem;
}
.nav-requests .nav-link {
    color: #000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background: #FAFAFA;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav-pills .nav-link span, .nav-requests .nav-link span {
    margin-right: 0.5rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #fe0000;
    color: #fff;
}
.nav-requests  .nav-link.active, .nav-requests  .show > .nav-link{
    background-color: #fe0000;
    color: #fff;
}
.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-right: 1rem;
    border: none;
    outline: none;
}
/* breadcrumb */

.breadcrumb-item+.breadcrumb-item {
    padding-right: .5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-left: .5rem;
}

.breadcrumb-item.active {
    color: #FE0000;
}

.breadcrumb-item {
    font-size: 1rem;
}
