<div class="p-3">
    <h4 class="fw-bold"> تفاصيل الطلب</h4>
    <div class="card px-4 py-2 my-3">
        <h5> <i class="fas fa-file-alt main-color fs-4 ps-2"></i>معلومات  الدفع </h5>
        <h5><span class="badge bg-success text-white">الدفع نقدا </span></h5>
    </div>
    <div class="card p-2 my-3">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed  " type="button" 
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" 
                  aria-expanded="false" aria-controls="flush-collapseOne">
                  <h5> <i class="fas fa-file-alt main-color fs-4 ps-2"></i>  تفاصيل الطلب </h5>
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse show" 
                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="d-flex justify-content-between px-1 mb-1 align-items-start">
                        <div class="d-flex flex-column">
                            <h6>
                                <span class="badge bg-lightgray text-dark ms-2">1</span> x 
                                <span>مجيوس دجاج</span>
                            </h6>
                            <h6 class="text-muted  mx-5 fw-medium"> الحجم: وسط </h6>
                            <h6 class="text-muted  mx-5 fw-medium"> اضافة (دقوس، جبنة) </h6>
                            <h6 class="text-muted  mx-5 fw-medium"> ملاحظات: بدون اضافة بصل </h6>
                        </div>
                        <h6 class="fw-bold"><span>400</span> ج.م</h6>
                    </div>
                    
                    <div class="d-flex justify-content-between px-1 mb-1 align-items-start">
                        <div class="d-flex flex-column">
                            <h6>
                                <span class="badge bg-lightgray text-dark ms-2">2</span> x 
                                <span>مجيوس دجاج</span>
                            </h6>
                            <h6 class="text-muted  mx-5 fw-medium"> الحجم: وسط </h6>

                        </div>
                        <h6 class="fw-bold"><span>400</span> ج.م</h6>
                    </div>
                    <div class="d-flex justify-content-between px-1 mb-1 align-items-start">
                        <div class="d-flex flex-column">
                            <h6>
                                <span class="badge bg-lightgray text-dark ms-2">3</span> x 
                                <span>مجيوس دجاج</span>
                            </h6>

                        </div>
                        <h6 class="fw-bold"><span>400</span> ج.م</h6>
                    </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

    <div class="card px-4 py-2 my-3">
        <h5> <i class="fas fa-file-alt main-color fs-4 ps-2"></i>  الفاتورة </h5>
        <div class="d-flex justify-content-between px-2 mb-1">
            <h6> مجموع طلبى</h6>
            <h6><span>670</span> ج.م</h6>
        </div>
        <div class="d-flex justify-content-between px-2 mb-1 main-color">
            <h6>  كوبون خصم</h6>
            <h6><span>670</span> ج.م</h6>
        </div>
        <div class="d-flex justify-content-between px-2 mb-1 main-color">
            <h6>   رسوم الخدمة</h6>
            <h6><span>670</span> ج.م</h6>
        </div>
        <div class=" px-2 mb-1">
            <h6> يشتمل على ضريبة القيمة المضافة<span class="main-color"> 14%</span> بمعنى آخر 29.23EGP </h6>
        </div>
        <div class="d-flex justify-content-between px-2 mb-1 border-top py-2">
            <h4>   المجموع الكلى</h4>
            <h4><span>670</span> ج.م</h4>
        </div>
</div>