<div class="p-3">
    <nav class="inner-header">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">القائمة</li>
            <li class="breadcrumb-item active" aria-current="page"> عنوان التوصيل  </li>
          </ol>
        </nav>
    </nav>
    <h4 class="fw-bold">معلومات العميل</h4>

    <div class="input-group  my-3">
        <input type="text" class="form-control" id="customerName" placeholder="اسم العميل  مثال: سارة عامر">
    </div>
    <div class="input-group  my-3">
        <input type="text" class="form-control" id="customerPhone" placeholder="ادخل رقم الهاتف ,مثال01029063398">
        <div class="custom-dropdown dropdown">
            <div class="selected-option dropdown-toggle text-muted" data-bs-toggle="dropdown">
                {{ selectedCountry.code }}
                <img [src]="selectedCountry.flag" class="flag-icon" />
            </div>
            <ul class="dropdown-list dropdown-menu">
                <li *ngFor="let country of countryList" (click)="selectCountry(country)"
                    class="d-flex justify-content-between text-muted">
                    {{ country.code }}
                    <img [src]="country.flag" class="flag-icon" />
                </li>
            </ul>
        </div>
    </div>

    <h4 class="fw-bold">اضف عنوان التوصيل</h4>
    <div class="input-group  my-3">
        <input type="text" class="form-control" id="streetName"
            placeholder="اسم الشارع  مثال: مصدق الدقي ,المهندسين  الجيزه">
    </div>

    <div class="input-group  my-3">
        <input type="text" class="form-control" id="buildingNumber" placeholder="رقم  المبنى, مثال مبني 21">
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="input-group  my-3">
                <input type="text" class="form-control" id="apartmentNumber" placeholder="رقم الشقة ,مثال  شقة 12">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group  my-3">
                <input type="text" class="form-control" id="floorNumber" placeholder="الدور, مثال الدور2">
            </div>
        </div>
    </div>


    <div class="input-group  my-3">
        <input type="text" class="form-control" id="landmark" placeholder="علامة مميزة (اختياري)">
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn fs-5">اضافة</button>
    </div>
</div>